MAIL_SERVER=smtp.gmail.com
MAIL_PORT=#puertoausar
MAIL_USE_TLS=True
MAIL_USERNAME=#Correocorporativo
MAIL_PASSWORD=#contraseñasecretaparasmtp
MAIL_DEFAULT_SENDER=#correocorporativo
PASSWORD_PEPPER=#peppersecreto
JWT_SECRET_KEY=#llavesecreta
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=15