/* ===================== NAVBAR FIJO ===================== */

.navbar-collapse ul li.nav-item {
  border-left: solid 1px gray;
}

.navbar-collapse ul li a {
  text-decoration: none;
  color: black !important;
}

.navbar-collapse ul li a:hover {
  color: rgb(255, 255, 255) !important;
}

.navbar-collapse ul li.nav-item:hover {
  background-color: #569275;
  transform: scale(1.05) !important;
}


/* ===================== TEXTOS ===================== */
.subtitle {
  font-size: clamp(24px, 3vw, 35px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #053e7a;
}

.subtitle2 {
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  color: #053e7a;
}

/* ===================== GENERAL ===================== */

.section {
  position: relative;
  top: 50px;
  background-color: #d9eff7;
  min-height: 100vh;
}

.card {
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(255, 255, 255) !important;
  border-radius: 5px !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  overflow: hidden;
}

.card2 {
  display: flex;
  padding: 5px;
  flex-direction: column;
  width: 100%;
  background:  #d9eff7 !important;
  border-radius: 5px !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  margin: auto;
}
.card-body h5 {
  color: gray;
  text-align: start;
}

.card-body img {
  width: 80%;
  align-self: self-end;
}
.icono {
  color: #053e7a;
}


@media (max-width: 991px) {
  .navbar-collapse ul li.nav-item {
    border-left: none;
    border-bottom: solid 1px gray;
  }
}