body {
  text-align: justify !important;
}

html {
  visibility: hidden;
  scroll-behavior: smooth;
}

html.loaded {
  visibility: visible;
}

#toast {
  position: fixed !important;
  z-index: 20000 !important;
  top: 10px;
}

.modal-backdrop {
  z-index: 1050 !important;
}

.modal {
  z-index: 1055 !important;
}


/* NAVBAR */
.custom-navbar {
  background-color: #fdfdfd;
  box-shadow: 0px 1px 5px 2px #0000005e;
  position: fixed;
  width: 100%;
  height: 10vh;
  top: 0;
  z-index: 1000;
  margin-bottom: 5px;
}

.navbar-logo {
  width: 5vw;
  min-width: 55px;
  height: auto;
  margin: auto;
}

.navbar-title {
  font-family:  Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.0;
  color: #222;
  font-size: clamp(15px, 3vw, 20px) !important;
}


.btn-primary {
  background-color: #569275 !important;
  border: none;
  font-weight: 500;
  padding: 8px 15px;
  height: auto;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #053e7a !important;
}

.btn-secondary {
  background-color: #ffffff5c !important;
  border: solid 1px;
  border-color: #0c0b0b;
  font-weight: 500;
  padding: 8px 15px;
  transition: background-color 0.3s ease;
  color: #000000;
}

.btn-secondary:hover {
  background-color: #053e7a !important;
  border-color: #053e7a;
}


/* FOOTER */
.custom-footer {
  height: fit-content;
  width: 100%;
  height: fit-content;
  background-color: #053e7a;
  padding: 8px;
  margin-top: auto;
  color: white;
}

/* Logo */
.logo {
  width: 6vw;
  min-width: 50px;
  height: auto;
  object-fit: contain;
}

/* Títulos */
.footer-title {
  font-family: 'Limelight', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: clamp(15px, 3vw, 20px) !important;
}

.footer-subtitle {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
  color: #ffffff;
}

/* Links */
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 5px;
}

.footer-links a {
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
  color: white;
}

.footer-links a:hover {
  color: #080b0f;
}

/* Copyright */
.footer-copy {
  font-size: 11px;
  color: #fffafa;
}

.btn.btn-primary.d-lg-none.m-3 {
  background-color: #053e7a !important;
  color: white;
  font-weight: 500;
  box-shadow: 0 2px 5px rgba(76, 175, 80, 0.3);
}

.btn.btn-primary.d-lg-none.m-3:hover {
  background-color: #49AB87 !important;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(17, 77, 19, 0.856);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
}

.modal-header {
  border-bottom: none;
  background-color: #053e7a;
  color: white;
}

.custom-toggler {
  border: 1px solid #053e7a;
  padding: 4px 8px;
}

.navbar-toggler {
  border: 1px solid #053e7a;
  padding: 4px 8px;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 123, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


@media (max-width: 991px) {
  .custom-navbar{
    height: min-content;
  }
  .navbar-collapse {
    background-color: #fdfdfd;
    padding: 1rem;
    border-radius: 0 0 8px 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  }
  .navbar-collapse .d-flex {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0;
  }
   .navbar-collapse .btn {
    width: 100%;
    text-align: center;
  }

}