<footer class="custom-footer">
  <div class="container">
    <!-- Fila principal con columnas en extremos -->
    <div class="row gx-4 justify-content-between align-items-start my-1">

      <!-- Columna izquierda: logo y descripción -->
      <div class="col-md-4 text-md-start align-items-center">
        <img src="{{ url_for('static', filename='img/logo_vitaria.png') }}" alt="Logo" class="logo" />
        <span class="footer-title">VITARIA. SOS</span>
      </div>

      <!-- Columna derecha -->
      <div class="col-md-4 text-md-start text-center mt-2">
        <h6 class="footer-subtitle">Antecedentes Legales</h6>
        <ul class="footer-links">
          <li><a href="https://www.funcionpublica.gov.co/eva/gestornormativo/norma.php?i=47141" target="_blank">Ley 1523
              de 2012</a></li>
          <li><a href="https://www.alcaldiabogota.gov.co/sisjur/normas/Norma1.jsp?i=131118" target="_blank">Resolución
              1110 de 2022</a></li>
          <li><a href="https://www.funcionpublica.gov.co/eva//gestornormativo/norma.php?i=44600" target="_blank">Decreto
              4147 de 2011</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <!-- Fila de copyright centrado -->
    <div class="row">
      <div class="col-12 text-center">
        <p class="footer-copy" lan-target="FooterCopy">
          © 2026 Vitaria.SOS - Todos los derechos reservados
        </p>
      </div>
    </div>
  </div>
</footer>