<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}VITARIA{% endblock %}</title>

  <!-- CSS -->
  <link href="{{ url_for('static', filename='bootstrap-5.3.8-dist/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/wickedcss.min.css') }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  {% block page_styles %}{% endblock %}

  <script src="{{ url_for('static', filename='bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js') }}" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels" defer></script>

  <script src="{{ url_for('static', filename='js/alert.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>

</head>


<body class="d-flex flex-column">
  {% block content %}

  {% endblock %}
</body>

</html>